.soft {
  font-size: 0.9rem;
  font-weight: 370;
  font-style: italic;
  color: #ddbb8d;
}

.da {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
}

.houzhong {
  font-size: 1.2rem;
  font-weight: 570;
  color: #2c2618;
}

.qinsuang {
  font-size: 1rem;
  color: rgba(22, 104, 102, 0.79);
}

.reqie {
  font-size: 1rem;
  color: rgba(67, 33, 20, 0.77);
}

p,img {
  text-align: center;
  line-height: 1.7;
}

#body {
  background-image: linear-gradient(#7a715e, #f6e7b1);
}

.img1  {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

.para {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

img , p {
  max-width: 100%;
  height: auto;
}

#screen img {
  float: left;
  width: 600px;
  height: 600px;
}

#screen {
  width: 9999px;
  height: 700px;
  animation:  10s text infinite;
  animation-direction: alternate;
}

#tv {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes text {
  0% { }
  12.5% { transform: translateX(0); }
  25% { transform: translateX(0); }
  37.5% { transform: translateX(-600px); }
  50% { transform: translateX(-600px); }
  62.5% { transform: translateX(-1200px); }
  75% { transform: translateX(-1200px); }
  87.5% { transform: translateX(-1800px); }
  100% { transform: translateX(-1800px); }
}
