*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  background: #dad388;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container{
  background: #fff;
  width: 100%;
  min-width: 100px;
  max-width: 420px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border-radius: 16px;
  box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19) ;
}


.title{
  text-align: center;
  font-size: 29px;
  margin-bottom: 10px;
  color: #333;
}

.price{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  color: #cd0000;
  font-weight: bold;
}

.item{
  margin-bottom: 15px;
}

.item button{
  text-align: center;
  width: 100%;
  background: rgb(205, 0, 0);
  color: #e3dbdb;
  font-size: 16px;
  font-weight: bold;
  border: none;
  height: 45px;
}

label{
  display: block;
  margin-bottom: 7px;
  color: #888888;
  font-size: 14px;
}

input{
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #e0e0e0;
}

.pay-type{
  display: flex;
  gap: 55px;
}

.success-page{
  display: none;
  text-align: center;
  margin: 20px;
}

.loading-page{
  display: none;
}

#tip{
  text-align: center;
  font-size: 17px;
  font-weight: 5;
}
